<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
  </configSections>

  <iocConfiguration>
    <container type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.Container, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.ConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      <add name="wcf" type="OSDevGrp.OSIntranet.CommonLibrary.Wcf.Configuraiton.WcfConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.Wcf"/>
      <add name="intranet" type="OSDevGrp.OSIntranet.Infrastructure.IoC.ConfigurationProvider, OSDevGrp.OSIntranet.Infrastructure"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <connectionStrings>
    <clear/>
    <add name="OSDevGrp.OSIntranet.Repositories.DataProviders.MySqlDataProvider" connectionString="SERVER=lxweb; DATABASE=oswebdb; UID=ODBC"/>
  </connectionStrings>

  <appSettings>
    <add key="DebitorSaldoOverNul" value="False"/>
    <add key="KreditorSaldoOverNul" value="True"/>
    <add key="DageForBogføringsperiode" value="30"/>
  </appSettings>

  <system.web>
    <httpRuntime executionTimeout="300"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                 transactionFlow="true" maxReceivedMessageSize="4194304" sendTimeout="00:05:00">
          <security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                 transactionFlow="true" maxReceivedMessageSize="8388608" sendTimeout="00:05:00">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                 transactionFlow="true" maxReceivedMessageSize="8388608" sendTimeout="00:05:00">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="OSDevGrp.OSIntranet.Services.Implementations.AdressekartotekService"
               behaviorConfiguration="OSDevGrp.OSIntranet.IoCServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="OSDevGrp.OSIntranet.Contracts.Services.IAdressekartotekService">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="IMetadataExchange">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
      </service>
      <service name="OSDevGrp.OSIntranet.Services.Implementations.FinansstyringService" 
               behaviorConfiguration="OSDevGrp.OSIntranet.IoCServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="OSDevGrp.OSIntranet.Contracts.Services.IFinansstyringService">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="IMetadataExchange">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
      </service>
      <service name="OSDevGrp.OSIntranet.Services.Implementations.KalenderService"
               behaviorConfiguration="OSDevGrp.OSIntranet.IoCServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="OSDevGrp.OSIntranet.Contracts.Services.IKalenderService">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="IMetadataExchange">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
      </service>
      <service name="OSDevGrp.OSIntranet.Services.Implementations.CommonService"
               behaviorConfiguration="OSDevGrp.OSIntranet.IoCServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="OSDevGrp.OSIntranet.Contracts.Services.ICommonService">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="IMetadataExchange">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <client>
      <endpoint name="AdresseRepositoryService"
                address="net.tcp://Mother:7000/OSIntranet/DataAccess/AdresseRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netTcpBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IAdresseRepositoryService">
        <identity>
          <servicePrincipalName value="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.AdresseRepositoryService"/>
        </identity>
      </endpoint>
      <endpoint name="FinansstyringRepositoryService"
                address="net.tcp://Mother:7000/OSIntranet/DataAccess/FinansstyringRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netTcpBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFinansstyringRepositoryService">
        <identity>
          <servicePrincipalName value="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.FinansstyringRepositoryService"/>
        </identity>
      </endpoint>
      <endpoint name="FællesRepositoryService"
                address="net.tcp://Mother:7000/OSIntranet/DataAccess/FællesRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netTcpBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFællesRepositoryService">
        <identity>
          <servicePrincipalName value="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.FællesRepositoryService"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OSDevGrp.OSIntranet.IoCServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceCredentials>
            <serviceCertificate findValue="OSDevGrp.OSIntranet.Services"
                                storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </clientCertificate>
          </serviceCredentials>
          <serviceThrottling maxConcurrentCalls="500"
                             maxConcurrentSessions="10000"
                             maxConcurrentInstances="100"/>
          <ioc/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2097152"/>
          <callbackTimeouts transactionTimeout="00:05:00"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Wcf.IoCInstanceProviderExtension, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      </behaviorExtensions>
    </extensions>
    <!--
    <diagnostics>
      <messageLogging logEntireMessage="true" 
                      logMalformedMessages="false" 
                      logMessagesAtServiceLevel="true" 
                      logMessagesAtTransportLevel="false" 
                      maxMessagesToLog="3000" 
                      maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    -->
  </system.serviceModel>

  <!--
  <system.diagnostics>
    <sharedListeners>
      <add name="sharedListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Windows\Temp\OSIntranet.svclog"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sharedListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="sharedListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>
