<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
  </configSections>

  <iocConfiguration>
    <container type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.Container, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.ConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      <add name="wcf" type="OSDevGrp.OSIntranet.CommonLibrary.Wcf.Configuraiton.WcfConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.Wcf"/>
      <add name="intranet" type="OSDevGrp.OSIntranet.Infrastructure.IoC.ConfigurationProvider, OSDevGrp.OSIntranet.Infrastructure"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <appSettings>
    <add key="DebitorSaldoOverNul" value="False"/>
    <add key="KreditorSaldoOverNul" value="True"/>
    <add key="DageForBogføringsperiode" value="30"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                 transactionFlow="true"
                 maxReceivedMessageSize="4194304">
          <security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
      <netNamedPipeBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                 transactionFlow="true"
                 maxReceivedMessageSize="8388608">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="OSDevGrp.OSIntranet.Services.Implementations.FinansstyringService" 
               behaviorConfiguration="OSDevGrp.OSIntranet.IoCServiceBehavior">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="OSDevGrp.OSIntranet.Contracts.Services.IFinansstyringService">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="wsHttpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.SecureTransactionHttpBinding"
                  contract="IMetadataExchange">
          <identity>
            <dns value="OSDevGrp.OSIntranet.Services"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <client>
      <endpoint name="AdresseRepositoryService"
                address="net.pipe://localhost/OSIntranet/DataAccess/AdresseRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netNamedPipeBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IAdresseRepositoryService"/>
      <endpoint name="FinansstyringRepositoryService"
                address="net.pipe://localhost/OSIntranet/DataAccess/FinansstyringRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netNamedPipeBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFinansstyringRepositoryService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OSDevGrp.OSIntranet.IoCServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceCredentials>
            <serviceCertificate findValue="OSDevGrp.OSIntranet.Services"
                                storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </clientCertificate>
          </serviceCredentials>
          <serviceThrottling maxConcurrentCalls="500"
                             maxConcurrentSessions="10000"
                             maxConcurrentInstances="100"/>
          <ioc/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2097152"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Wcf.IoCInstanceProviderExtension, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
