<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <section name="basicSecurityTokenServiceConfiguration" type="OSDevGrp.OSIntranet.Security.Configuration.ConfigurationProvider, OSDevGrp.OSIntranet.Security"/>
  </configSections>

  <iocConfiguration>
    <containerConfigurationProviders>
      <add name="externalCommunication" type="OSDevGrp.OSIntranet.Infrastructure.IoC.ExternalCommunicationConfigurationProvider, OSDevGrp.OSIntranet.Infrastructure" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <basicSecurityTokenServiceConfiguration>
    <issuerTokenName address="http://services.osdevgrp.local:8010/sts" xdt:Transform="SetAttributes(address)"/>
  </basicSecurityTokenServiceConfiguration>

  <connectionStrings>
    <clear/>
    <add name="OSDevGrp.OSIntranet.Repositories.DataProviders.MySqlDataProvider" connectionString="[TBD]" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="OSDevGrp.OSIntranet.Repositories.DataProviders.FoodWasteDataProvider" connectionString="[TBD]" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="OSDevGrp.OSIntranet.SecureByCertificateTransactionHttpBinding"/>
        <binding name="OSDevGrp.OSIntranet.SecureByUserNameTransactionHttpBinding"/>
      </wsHttpBinding>
      <ws2007FederationHttpBinding>
        <binding name="OSDevGrp.OSIntranet.SecureByCertificateTransactionFederationHttpBinding">
          <security>
            <message>
              <issuer address="http://services.osdevgrp.local/osintranet/basicsecuritytokenservice.svc/WSX509" bindingConfiguration="OSDevGrp.OSIntranet.SecureByCertificateTransactionHttpBinding" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(bindingConfiguration)"/>
              <issuerMetadata address="http://services.osdevgrp.local/osintranet/basicsecuritytokenservice.svc/mex" xdt:Transform="SetAttributes(address)"/>
            </message>
          </security>
        </binding>
        <binding name="OSDevGrp.OSIntranet.SecureByUserNameTransactionFederationHttpBinding">
          <security>
            <message>
              <issuer address="http://services.osdevgrp.local/osintranet/basicsecuritytokenservice.svc/WSUserName" bindingConfiguration="OSDevGrp.OSIntranet.SecureByUserNameTransactionHttpBinding" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(bindingConfiguration)"/>
              <issuerMetadata address="http://services.osdevgrp.local/osintranet/basicsecuritytokenservice.svc/mex" xdt:Transform="SetAttributes(address)"/>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OSDevGrp.OSIntranet.IoCServiceBehavior">
          <serviceCredentials>
            <issuedTokenAuthentication>
              <allowedAudienceUris xdt:Transform="Replace">
                <add allowedAudienceUri="http://services.osdevgrp.local/osintranet/kalenderservice.svc"/>
                <add allowedAudienceUri="http://services.osdevgrp.local/osintranet/commonservice.svc"/>
                <add allowedAudienceUri="http://services.osdevgrp.local/osintranet/foodwastesystemdataservice.svc"/>
                <add allowedAudienceUri="http://services.osdevgrp.local/osintranet/foodwastehouseholddataservice.svc"/>
              </allowedAudienceUris>
            </issuedTokenAuthentication>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>