<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <section name="basicSecurityTokenServiceConfiguration" type="OSDevGrp.OSIntranet.Security.Configuration.ConfigurationProvider, OSDevGrp.OSIntranet.Security"/>
  </configSections>

  <iocConfiguration>
    <containerConfigurationProviders>
      <add name="externalCommunication" type="OSDevGrp.OSIntranet.Infrastructure.IoC.ExternalCommunicationWithoutExternalCommunicationConfigurationProvider, OSDevGrp.OSIntranet.Infrastructure" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(name)"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <basicSecurityTokenServiceConfiguration>
    <issuerTokenName address="http://localhost:8010/sts" xdt:Transform="SetAttributes(address)"/>
  </basicSecurityTokenServiceConfiguration>

  <connectionStrings>
    <clear/>
    <add name="OSDevGrp.OSIntranet.Repositories.DataProviders.MySqlDataProvider" connectionString="SERVER=mysql-osdevgrp.northeurope.azurecontainer.io;DATABASE=oswebdb;UID=ODBC;Pooling=True;SSL Mode=None" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="OSDevGrp.OSIntranet.Repositories.DataProviders.FoodWasteDataProvider" connectionString="SERVER=mysql-osdevgrp.northeurope.azurecontainer.io;DATABASE=foodwaste;UID=ODBC;Pooling=True;SSL Mode=None" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="OSDevGrp.OSIntranet.SecureByCertificateTransactionHttpBinding"/>
        <binding name="OSDevGrp.OSIntranet.SecureByUserNameTransactionHttpBinding"/>
      </wsHttpBinding>
      <ws2007FederationHttpBinding>
        <binding name="OSDevGrp.OSIntranet.SecureByCertificateTransactionFederationHttpBinding">
          <security>
            <message>
              <issuer address="http://localhost/osintranetdev/basicsecuritytokenservice.svc/WSX509" bindingConfiguration="OSDevGrp.OSIntranet.SecureByCertificateTransactionHttpBinding" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(bindingConfiguration)"/>
              <issuerMetadata address="http://localhost/osintranetdev/basicsecuritytokenservice.svc/mex" xdt:Transform="SetAttributes(address)"/>
            </message>
          </security>
        </binding>
        <binding name="OSDevGrp.OSIntranet.SecureByUserNameTransactionFederationHttpBinding">
          <security>
            <message>
              <issuer address="http://localhost/osintranetdev/basicsecuritytokenservice.svc/WSUserName" bindingConfiguration="OSDevGrp.OSIntranet.SecureByUserNameTransactionHttpBinding" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(bindingConfiguration)"/>
              <issuerMetadata address="http://localhost/osintranetdev/basicsecuritytokenservice.svc/mex" xdt:Transform="SetAttributes(address)"/>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <client>
      <endpoint name="AdresseRepositoryService" address="net.tcp://dataaccess.osdevgrp.local:7000/OSIntranet/DataAccess/AdresseRepositoryService" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.AdresseRepositoryService/10.128.0.189" />
        </identity>
      </endpoint>
      <endpoint name="FinansstyringRepositoryService" address="net.tcp://dataaccess.osdevgrp.local:7000/OSIntranet/DataAccess/FinansstyringRepositoryService" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.FinansstyringRepositoryService/10.128.0.189" />
        </identity>
      </endpoint>
      <endpoint name="FællesRepositoryService" address="net.tcp://dataaccess.osdevgrp.local:7000/OSIntranet/DataAccess/FællesRepositoryService" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.FællesRepositoryService/10.128.0.189" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OSDevGrp.OSIntranet.IoCServiceBehavior">
          <serviceCredentials>
            <issuedTokenAuthentication>
              <allowedAudienceUris xdt:Transform="Replace">
                <add allowedAudienceUri="http://localhost/osintranetdev/adressekartotekservice.svc"/>
                <add allowedAudienceUri="http://localhost/osintranetdev/finansstyringservice.svc"/>
                <add allowedAudienceUri="http://localhost/osintranetdev/kalenderservice.svc"/>
                <add allowedAudienceUri="http://localhost/osintranetdev/commonservice.svc"/>
                <add allowedAudienceUri="http://localhost/osintranetdev/foodwastesystemdataservice.svc"/>
                <add allowedAudienceUri="http://localhost/osintranetdev/foodwastehouseholddataservice.svc"/>
              </allowedAudienceUris>
            </issuedTokenAuthentication>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>