<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
  </configSections>

  <iocConfiguration>
    <container type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.Container, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.ConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      <add name="wcf" type="OSDevGrp.OSIntranet.CommonLibrary.Wcf.Configuraiton.WcfConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.Wcf"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                 transactionFlow="true"
                 maxReceivedMessageSize="8388608">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint name="AdresseRepositoryService"
                address="net.pipe://localhost/OSIntranet/DataAccess/AdresseRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netNamedPipeBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IAdresseRepositoryService"/>
      <endpoint name="FinansstyringRepositoryService"
                address="net.pipe://localhost/OSIntranet/DataAccess/FinansstyringRepositoryService"
                behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior"
                binding="netNamedPipeBinding"
                bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFinansstyringRepositoryService"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="OSDevGrp.OSIntranet.DataAccess.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2097152"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>