<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
  </configSections>

  <iocConfiguration>
    <container type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.Container, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.ConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      <add name="ConfigurationProvider1" type="OSDevGrp.OSIntranet.CommonLibrary.Tests.IoC.ConfigurationProviders.TestConfigurationProvider1, OSDevGrp.OSIntranet.CommonLibrary.Tests"/>
      <add name="ConfigurationProvider2" type="OSDevGrp.OSIntranet.CommonLibrary.Tests.IoC.ConfigurationProviders.TestConfigurationProvider2, OSDevGrp.OSIntranet.CommonLibrary.Tests"/>
    </containerConfigurationProviders>
  </iocConfiguration>
</configuration>