<?xml version="1.0" encoding="utf-8" ?>
>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
  </configSections>

  <iocConfiguration>
    <container type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.Container, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.ConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    </containerConfigurationProviders>
  </iocConfiguration>
onfiguration>