<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mother/osintranet/basicsecuritytokenservice.svc</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Mother.osdevgrp.dk</MSDeployServiceURL>
    <DeployIisAppPath>Websites on MOTHER\osintranet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Mother</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OSDevGrp.OSIntranet.Repositories.DataProviders.FoodWasteDataProvider" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=lxweb;DATABASE=foodwaste;UID=ODBC;Pooling=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OSDevGrp.OSIntranet.Repositories.DataProviders.FoodWasteDataProvider_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=lxweb;DATABASE=foodwaste;UID=ODBC;Pooling=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OSDevGrp.OSIntranet.Repositories.DataProviders.MySqlDataProvider" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=lxweb;DATABASE=oswebdb;UID=ODBC;Pooling=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OSDevGrp.OSIntranet.Repositories.DataProviders.MySqlDataProvider_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=lxweb;DATABASE=oswebdb;UID=ODBC;Pooling=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSDevGrp.OSIntranet.Repositories.DataProviders.FoodWasteDataProvider-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSDevGrp.OSIntranet.Repositories.DataProviders.MySqlDataProvider-Web.config Connection String" />
  </ItemGroup>
</Project>