<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.ConfigurationSectionHandler, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
  </configSections>

  <iocConfiguration>
    <container type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.Container, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Windsor.ConfigurationProvider, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      <add name="DataAccess" type="OSDevGrp.OSIntranet.DataAccess.Services.Infrastructure.ConfigurationProvider, OSDevGrp.OSIntranet.DataAccess.Services"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <appSettings>
    <clear/>
    <add key="DataStoreLocation" value="\\Mother\Public\Intranet"/>
    <add key="OfflineDataStoreLocation" value="%WinDir%\CSC"/>
    <add key="UserName" value="OS"/>
    <add key="Password" value=""/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                 transactionFlow="true" listenBacklog="500" maxConnections="500"
                 sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                 transactionFlow="true" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
         </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.AdresseRepositoryService"
               behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.IoCServiceBehavior">
        <endpoint address="net.tcp://localhost:7000/OSIntranet/DataAccess/AdresseRepositoryService"
                  binding="netTcpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IAdresseRepositoryService"/>
        <endpoint address="net.pipe://localhost/OSIntranet/DataAccess/AdresseRepositoryService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IAdresseRepositoryService"/>
      </service>
      <service name="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.FinansstyringRepositoryService"
               behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.IoCServiceBehavior">
        <endpoint address="net.tcp://localhost:7000/OSIntranet/DataAccess/FinansstyringRepositoryService"
                  binding="netTcpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFinansstyringRepositoryService"/>
        <endpoint address="net.pipe://localhost/OSIntranet/DataAccess/FinansstyringRepositoryService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFinansstyringRepositoryService"/>
      </service>
      <service name="OSDevGrp.OSIntranet.DataAccess.Services.Implementations.FællesRepositoryService"
               behaviorConfiguration="OSDevGrp.OSIntranet.DataAccess.IoCServiceBehavior">
        <endpoint address="net.tcp://localhost:7000/OSIntranet/DataAccess/FællesRepositoryService"
                  binding="netTcpBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalTcpBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFællesRepositoryService"/>
        <endpoint address="net.pipe://localhost/OSIntranet/DataAccess/FællesRepositoryService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFællesRepositoryService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OSDevGrp.OSIntranet.DataAccess.IoCServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2097152"/>
          <serviceThrottling maxConcurrentCalls="500"
                             maxConcurrentSessions="10000"
                             maxConcurrentInstances="100"/>
          <ioc/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ioc" type="OSDevGrp.OSIntranet.CommonLibrary.IoC.Wcf.IoCInstanceProviderExtension, OSDevGrp.OSIntranet.CommonLibrary.IoC"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!--
  <system.diagnostics>
    <sharedListeners>
      <add name="sharedListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Windows\Temp\OSDevGrp.OSIntranet.DataAccess.svclog"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sharedListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="sharedListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>
