<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                 transactionFlow="true">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="OSDevGrp.OSIntranet.DataAccess.Services.Repositories.AdresseRepository">
        <endpoint address="net.pipe://localhost/OSIntranet/DataAccess/AdresseRepositoryService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IAdresseRepositoryService"/>
      </service>
      <service name="OSDevGrp.OSIntranet.DataAccess.Services.Repositories.FinansstyringRepository">
        <endpoint address="net.pipe://localhost/OSIntranet/DataAccess/FinansstyringRepositoryService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="OSDevGrp.OSIntranet.DataAccess.SecureTransactionalNamedPipeBinding"
                  contract="OSDevGrp.OSIntranet.DataAccess.Contracts.Services.IFinansstyringRepositoryService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>